mat-toolbar {
  position: relative;
  z-index: 5;
  background-color: #1976d2;
}
.content {
  padding: 24px;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav,
mat-sidenav-content {
  transition: all 500ms ease-in-out;
}


// .mat-mdc-nav-list .mat-mdc-list-item {
//   border-radius: none !important;
//   --mat-mdc-focus-indicator-border-radius: none !important;
// }


